.NavBar {
  background-color: rgb(64, 86, 245);
  height: 108px;
  z-index: 1000; /* Ensure the navbar has a high z-index */
  position: relative; /* Set relative position if not already set */
}

.NavLink {
  padding: 15px;
  z-index: 1001; /* Ensure NavLinks have a higher z-index */
}

.NavLink i,
.NavBar .Active i,
.NavBar .navbar-toggler i,
.NavBar .CustomDropdownToggle i {
  color: white; /* Set the color of icons to white */
}

.CustomDropdownToggle {
  background-color: transparent !important;
  border: none !important;
  color: inherit;
  z-index: 1002; /* Ensure the dropdown toggle is above other components */
}

.NavBar .brand-title {
  font-family: "Montserrat", sans-serif !important;
  font-size: 100px !important;
}

.NavBar .navbar-toggler {
  background-color: transparent;
  border: none;
  z-index: 1001; /* Ensure the toggle button is above other components */
  position: relative; /* Set relative position if not already set */
}

.NavBar .navbar-toggler.expanded {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 5px;
  z-index: 1003; /* Ensure the expanded menu appears on top */
}

.NavbarExpanded .NavLink{
  background-color:rgba(64, 85, 245, 0.60) ;
}

