.NavBar {
    background-color: #4056F5;
    height: 108px;
  }
  
  .NavLink {
    padding: 15px;
  }
  
  .Active i {
    color: white;
  }

  .CustomDropdownToggle {
    background-color: transparent !important;
    border: none !important;
    color: inherit;
  }
  
.NavBar .brand-title {
  font-family: "Montserrat", sans-serif !important;
  font-size: 100px !important;
}

.NavBar .navbar-toggler {
  background-color: transparent;
  border: none;
}

.NavBar .navbar-toggler.expanded {
  background-color: rgba(0, 0, 0, 0.5) !important; /* Ensure this style is applied */
  border-radius: 5px; /* Optional: Add rounded corners */
}